.inform{padding: 135px 0px; font-size:56px;background-position: center;}
.sl{padding: 56px; color:white ;}
.inform{background-image: url(https://images.blz-contentstack.com/v3/assets/blte0bbc3c063f45866/blt69459fd45cf9dde4/5f2dd6b88ea4aa55f2329d53/careers-5.webp?auto=webp);
    background-size: cover;}
    h3{font-size: 40px;}
h2{font-size: 68px;}
p{font-size: 16px;}
